*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #089da1;
}
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089da1;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}
section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration: none;
    color: #000;
}

section nav li a:hover{
    color: #089da1;
}
section nav h1{
    font-size: larger;;
    font-weight: bold;

}


.login-page{
    background: #fff;
    width: 400px;
    border-radius: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% ,-50%);

}
.login-header{
    text-align: center;
    padding: 0 0 20px 0;
    
    border-bottom: 1px solid silver;

}
.login-form{
    position: relative;
    margin: 30px 0;
    padding: 0 30px;
    box-sizing: border-box;
}

.login-form input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;

}

